@font-face {
  font-family: 'fenixregular';
  src: url('../fonts/fenix-regular-webfont.woff2') format('woff2'),
    url('../fonts/fenix-regular-webfont.woff') format('woff');
}

/* colors from : https://colorhunt.co/palette/22272 */
/* white: #f9f7f7;
 * body: #dbe2ef;
 * contrast: #3f72af;
 * dark: #112d4e; */


/****************TAG SELECTORS******************/
body {
  background-color: #f9f7f7;
  margin: 0;
  text-align: center;
}

hr {
  background-color: #f9f7f7;
  border-style: none;
  border-top: dotted;
  border-width: 6px;
  border-color: #dbe2ef;
  width: 5%;
  margin: 40px auto;
}

h1 {
  color: #112d4e;
  font-size: 36px;
  font-family: 'fenixregular';
}

h3 {
  font-family: 'fenixregular';
  font-size: 20px;
  color: #112d4e;
}

p {
  font-family: 'fenixregular';
  color: #112d4e;
}

/****************CLASS SELECTORS******************/
.container-intro {
  background-color: #dbe2ef;
  padding-top: 50px;
  padding-bottom: 30px;
}

.circle-profile-photo {
  margin: 10px;
  height: 40%;
  width: 40%;
}

.intro-para {
  font-family: 'fenixregular';
  font-size: 16px;
  color: #3f72af;
  margin: 10px;
}

.container-main {
  background-color: #f9f7f7;
}

.p-font {
  font-family: 'fenixregular';
  font-size: 16px;
  color: #3f72af;
}

.table-skill {
  margin: 0 auto;
}

.p-copyright {
  font-size: 10px;
}

/****************ID SELECTORS******************/
#heading-name {
  color: #112d4e;
  margin: 10px;
}
